@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(37, 37, 35);
    padding: 23px;

}
#input-box{
    border: 1px solid black;
    padding: 23px;

}
input, textarea{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 6px;
    color: antiquewhite;
    font-size: 2.5rem;

}
button{
    background: transparent;
    color: antiquewhite;
    padding: 8px 12px;
    border: 1px solid white;
}
#notes{
    padding: 23px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.note{
    width: 300px;
    margin: 12px;
    border: 1px solid white;
    padding: 12px;
    width: 200px;
    background: transparent;
    color: antiquewhite;
    overflow: hidden;
}
.deleteNote{
    float: right;
    
}