* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: antiquewhite;
}
.top{
  text-align: center;

}
.board-row{
  display: flex;
  justify-content: center;
}
.row1{
  margin-top: 10px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-top: 280px;
  font-size: 1.8rem;
}
